<ion-view view-title="Home">
      <ion-content>
		<div class="row">
		  <div class="col col-50" align="center">
			<a class="item item-thumbnail-center" href="#">
			  <img src="img/ionic.png">
			  <h2>Test</h2>
			  <p>Nine Inch Nails</p>
			</a>
		  </div>
		  <div class="col col-50" align="center">
			<a class="item item-thumbnail-center" href="#">
			  <img src="img/ionic.png">
			  <h2>Test</h2>
			  <p>Nine Inch Nails</p>
			</a>
		  </div>
		  </div>
		  <div class="row">
		  <div class="col col-50"  align="center">
			<a class="item item-thumbnail-center" href="#">
			  <img src="img/ionic.png">
			  <h2>Test</h2>
			  <p>Nine Inch Nails</p>
			</a>
		  </div>
		  <div class="col col-50"  align="center">
			<a class="item item-thumbnail-center" href="#">
			  <img src="img/ionic.png">
			  <h2>Test</h2>
			  <p>Nine Inch Nails</p>
			</a>
		  </div>
		</div>
      </ion-content>
</ion-view>